{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg">
    <a id="title" class="navbar-brand" href="/home">Blog App</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mobile-button-fix"></span>
    </button>

{{!-- Navbar List Items --}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
<h1>Home Page!</h1>


{{!-- Existing Blogs --}}
<div class="container existing-blogs">
  {{!-- Row --}}
  <div class="row blog-center mt-4 mb-4">
    
   {{!-- Column --}}
{{#each serializedBlogs as |blog|}}
  <div class="col blog insert-new-comment" name="blog-id" value="{{blog.id}}">
    <p>Blog.id 1st: {{blog.id}}</p>
    <p class="username">Dynamic Username: {{blog.user}} <br><br><span id="title-date">{{blog.title}} | {{blog.date}} </span></p>
    <p class="blog-paragraph append-comment">{{blog.paragraph}}</p>

    {{!-- Comments --}}
    {{#each (lookup blog 'comments') as |comment|}}
      <p class="p-4 blog-paragraph comment insert-comment">{{comment.user}} - {{comment.body}} Blog ID:{{comment.blogId}}</p>
    {{/each}}

    <div class="leave-comment btn-open-modal" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Leave Comment</div>
  </div>
{{/each}}


  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="enter-comment modal-title">Enter Comment</h5>
        <button type="button" class="close xButton" data-dismiss="modal" aria-label="Close">
          <span class="x" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- Text --}}
        <input id="comment" name="comment" type="text">

      </div>
      <div class="modal-footer">
        <button id="comment-save" type="button" class="btn btn-primary save">Save changes</button>
        <button type="button" class="btn btn-secondary comment-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







