{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg">
    <a id="title" class="navbar-brand" href="/home">Blog App</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mobile-button-fix"></span>
    </button>

{{!-- Navbar List Items --}}
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a id="dashboard" class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a id="login-start" class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container existing-blogs">
    {{!-- Row --}}
    <div class="row blog-center mt-4 mb-4">
        {{!-- Column --}}
        {{#each serializedBlogs as |blog|}}
        <div class="col blog insert-new-comment">
            <p class="username">{{ @root.username }} <br><br><span id="title-date">{{blog.title}} | {{blog.date}} </span></p>
    
            <p class="blog-paragraph append-comment">
                {{ blog.paragraph }}
            </p>
        {{/each}}

  {{#each serializedComments as |comment|}}
            <p class="p-4 blog-paragraph comment insert-comment">{{ @root.username }} - {{ comment.comment }} <br><br><span type="button" class="edit">Edit Comment</span> <span type="button" class="delete">Delete Comment</span></p>
            {{/each}}
          
            {{!-- <p class="p-4 blog-paragraph comment insert-comment">{{ @root.username }} - Comment goes here</p> --}}
            <div class="leave-comment btn-open-modal" type="button" data-bs-toggle="modal" data-bs-target="#myModal">Leave Comment</div> 
            {{!-- <button type="button" class="btn btn-primary btn-open-modal" data-bs-toggle="modal" data-bs-target="#myModal">Open Modal</button> --}}
        </div>
    </div>
</div>


        {{!-- Login Message --}}
        <div class="col mb-4 login-message d-flex justify-content-center align-items-center mt-3">
            <h2 class="login-alert">Please <a class="fancy" href="/login">Login</a> or <a class="fancy" href="/register">Sign-Up.</a></h2>
        </div>
    </div>
</div>



{{!-- LOGIN Process --}}

<div class="container login">
    <div class="row d-flex justify-content-center align-items-center flex-column login-row">
        <div class="col mb-5 mt-2"><h1>Login</h1></div>
        <form id="login-form">
            Username:
            <div class="col"><input id="login-username" class="mb-4" type="text"></div>
            Password:
            <div class="col d-flex"><input id="login-password" class="mb-3" type="password"></div>
            <button id="login-button">Login</button>
        </form>
        <br>
        <center>
<span id="signup-alert">Don't have an account?</span> <a id="signup" href="/register">Sign up here</a>
</center>
    </div>
</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login Required</h5>
        <button id="outerXButton" type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
          <span id="xButton" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You must be logged in to perform this action.</p>
      </div>
      <div class="modal-footer">
        <button id="close-button" type="button" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>